.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  padding: 5px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 300;

    a {
      color: black;
    }

    img {
      width: 52px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &--mobile-only {
      .navbar__links-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3.5rem;
        text-align: center;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        height: 100vh;
        padding: 0 0 0 30px;
        transition: all 0.3s ease-in-out;
        z-index: 100;
      }

      .navbar__toggle-btn {
        z-index: 320;
      }

      .navbar__links {
        flex-direction: column;
        font-size: 1.4rem;
      }

      .navbar__link {
        width: 100%;
        padding: 0.3rem 0;

        a {
          color: black;

          &::after {
            background-color: black;
          }
        }
      }

      .navbar__contact {
        h3 {
          margin-top: 10px;
          font-size: 1.1rem;
          font-weight: 300;
        }
        p {
          font-size: 0.95rem;
          font-weight: 300;
        }
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
  }

  &__link {
    font-weight: 400;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;

    a {
      position: relative;
      color: black;
      text-transform: capitalize;

      &,
      &::after,
      &::before {
        transition: all 0.3s ease;
      }

      &::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: black;
        height: 1px;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  &__toggle-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;

    &.cross {
      font-size: 1.6rem;
    }
  }
}
