.navbar {
  border-bottom: 1px solid black;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    img {
      width: 50px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    &-item {
      a {
        color: #fff;
      }
      color: #fff;
    }
  }
}
