.gallery {
  h1 {
    text-transform: uppercase;
    //top: 3.125rem;
    letter-spacing: 0.2rem;
    position: relative;
    padding: 10px 0;
    font-size: 2.2rem;
    padding-bottom: 1rem;
    &::before {
      width: 30px;
      content: " ";
      position: absolute;
      border-top: solid 3px #f50136;
      left: 0;
      top: 0;
    }
  }

  .swiper {
    padding-bottom: 3.5rem;

    &__slide {
      max-width: 400px;
      max-height: 300px;
      object-fit: contain;
      overflow: hidden;
      transform: translateX(170px);
      padding-bottom: 2rem;
      img {
        width: 400px;
        min-height: 300px;
      }
    }

    &__arrow {
      position: absolute;
      top: 73%;
      left: 50%;
      z-index: 10;
      // :hover {
      //   scale: 1.04;
      // }
      img {
        width: 90px;
        cursor: pointer;
      }
    }
  }
}
@media all and (max-width: 600px) {
  .gallery {
    .swiper {
      &__slide {
        transform: none;
      }
      &__arrow {
        position: absolute;
        top: 78%;
        left: 40%;
        z-index: 10;
        img {
          width: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
